#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$uk8pnLKfyeR.Xq8.$KRE7ak4v.QjEVSlMgzC2MMI4nBIxnbb4FnT9f3GlCyXqgPlYeo27UFSiSvZCBCLx4Dy1DynkBDBOizzhRDwBw0
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
user --name=vinotha --password=$6$Eniwhw/WaNWWKGfb$qF5nqFa9UrsKcH4WfmBtqfCV3ZqxZ1rGL7eu9vVt2XHUmF.Np7Lwq0S/Wugw5DW91dfRWttGBg1tPKpmyFlh5. --iscrypted --gecos="vinotha"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
